.section1{
    padding-top: 12rem;
    padding-bottom: 6rem; 
}
.section2,
.section3{
    padding-top: 6rem;
    padding-bottom: 6rem;   
}
:root{
    --primaryBlue: #091059;
    --lightBlue: rgba(9, 16, 89, 0.304);
    --bodyDark: #171720;
    --bodyDark2: rgb(10, 11, 25);
    --primaryYellow: #FBB244;
    --lightYellow: rgba(251, 178, 68, 0.2);
    --white: white;
    --black: black;
    --gray: #6d6d6d;
    --gray2: #cccccc;
    --transparent: rgba(255, 255, 255, 0);
}
/* GENERAL CSS */
.lighttext{
    color: var(--white);
    background-color: var(--lightYellow);
    font-size: 12px;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 50px;
}

.lighttextDark{
    background-color: var(--lightYellow);
}
.lighttextLight{
    color: var(--primaryYellow);
}


.headings{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.headingsDark{
    color: var(--primaryYellow);
}
.headingsLight{
    color: var(--primaryBlue);
}

.desctext{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.4rem;
    font-weight: 500;
}
.descDark{
    color: var(--gray2);
}
.descLight{
    color: var(--gray);
}

.bttns{
    padding: 12px 30px;
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    outline: none;
}

.headingtext .contactbtn{
    color: var(--white);
    transition: 0.2s;
    outline: none;
}

.contactbtn:hover{
    background-color: var(--transparent);
}
.btndark{
    background-color: var(--primaryYellow);
    color: var(--white);
    border: 1px solid var(--primaryYellow) !important;
}
.btndark:hover{
    color: var(--primaryYellow);
}

.btnlight{
    background-color: var(--primaryBlue);
    color: var(--white);
    border: 1px solid var(--primaryBlue) !important;
}
.btnlight:hover{
    color: var(--primaryBlue);
}


/* SECTION #2 */

.cardn{
    background-color: var(--transparent) !important;
    border: 1px solid var(--gray);
    color: white;
}

.cardtitle{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.sociallinks{
    display: flex;
}
.sociallinks img{
    width: 30px;
    margin-right: 4px;
}

/* SECTION #3 */
.bgdark{
    background-color: var(--bodyDark2);
}