:root{
    --primaryBlue: #091059;
    --lightBlue: #0910594e;
    --primaryYellow: #FBB244;
    --lightYellow: rgba(251, 178, 68, 0.2);
    --white: white;
    --black: black;
    --gray: #6d6d6d;
    --gray2: #cccccc;
    --gray3: #bbbbbb;
    --transparent: rgba(255, 255, 255, 0);
}


.footcontainer{
    padding-top: 6rem;
    padding-bottom: 6rem;
    /* border-top: 1px solid rgb(50, 50, 50); */
}
.sociallinks{
    display: flex;
    margin-bottom: 2rem;
}
.sociallinks img{
    width: 30px;
    margin-right: 4px;
}

.img{
    filter: invert();
}

.widget{
    margin-bottom: 30px;
}

.widget h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
    color: black;
}

.fhDark{
    color: white !important;
}

.widget p{
    color: #7F7F7F;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.4rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
}
.fpDark{
    color: var(--gray2) !important;
}

.widget ul{
    margin-bottom: 1rem;
}

.links{
    margin-bottom: 1rem;
    list-style: none;
    padding: 0;
}
.links li{
    margin-bottom: 6px;
    display: block;
}
.links a{
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    transition: 0.3s;
}

.links a:hover{
    color: black;
}
.linksDark a{
    color: var(--gray3) !important;
}
.linksDark a:hover{
    color: var(--primaryYellow) !important;
}

.copyright p{
    color: #7F7F7F;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.4rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
}

.copyrightDark p{
    color: var(--gray3);
}
