* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
:root {
  --primaryBlue: #091059;
  /* --primaryBlue2: #060b41; */
  --lightBlue: rgba(9, 16, 89, 0.304);
  --primaryYellow: #fbb244;
  --bodyDark: #171720;
  --bodyDark2: rgb(27, 27, 35);
  --lightYellow: rgba(251, 178, 68, 0.2);
  --white: white;
  --black: black;
  --gray: #6d6d6d;
  --gray2: #cccccc;
  --transparent: rgba(255, 255, 255, 0);
}



/* Main header css */

.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 222;
  margin-top: 0 !important;
}
.new {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 2rem;
  transition: 0.5s;
}

.headerBgDark {
  background-color: rgb(23, 23, 32, 0.8);
  backdrop-filter: blur(10px);
  transition: 0.5s;
}
.headerBgLight {
  background-color: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  transition: 0.5s;
}

/* Links styling */
.links {
  list-style: none;
}
.links li {
  padding: 10px 15px;
}
.links li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

/* Styles the links and other text in the header on the base of theme */
.textlight {
  color: var(--black);
}
.textlight:hover {
  color: var(--primaryBlue);
}

.textdark {
  color: var(--white);
}
.textdark:hover {
  color: var(--primaryYellow);
}

/* Sets the buttons theme according to the light mode or dark mode */
.buttons button {
  border: none;
  padding: 8px 12px;
  border-radius: 50px;
  transition: 0.2s;
  font-weight: 600;
  font-size: 14px;
  margin-left: 15px;
}
.buttons button:hover {
  background-color: var(--transparent);
}
.btndark {
  background-color: var(--primaryYellow);
  color: var(--white);
  color: var(--primaryBlue);
  border: 1px solid var(--primaryYellow) !important;
}
.btndark:hover {
  color: var(--primaryYellow);
  /* color: var(--transparent); */
}
.btnlight {
  background-color: var(--primaryBlue);
  color: var(--white);
  border: 1px solid var(--primaryBlue) !important;
}
.btnlight:hover {
  color: var(--primaryBlue);
}

/* Sets differnt width for login and signup buttons */
.loginbtn {
  width: 100px;
}
.signupbtn {
  width: 100px;
  margin-left: -10px;
}

/* Displays the hamburger menu */
.menuico {
  display: none !important;
}

/* Theme Dropdown css */
.dropdown-menu {
  min-width: 6rem;
  border: none;
  inset: 6px auto auto -10px !important;
  /* transform: translate3D(15px, 28px, 0px); */
  transform: translate3D(0px, 0px, 0px);
  /* transition: 0.2s; */
}
.dropdown-item {
  padding: 6px;
  width: auto;
  font-size: 14px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 5px;
  cursor: pointer;
  /* backdrop-filter: blur(10px); */
}

/* Handles the dropdown background color for dark and light mode */
.bgdark {
  background-color: rgb(23, 23, 32);
  /* backdrop-filter: blur(10px); */
}
.bglight {
  background-color: rgba(255, 255, 255);
  /* backdrop-filter: blur(10px); */
}

/* Handles the non-active theme state text hover background color  */
.hoverbgLight:hover {
  color: rgb(0, 0, 0);
  background-color: rgba(9, 16, 89, 0.144);
}
.hoverbgDark:hover {
  color: white;
  background-color: rgba(251, 178, 68, 0.3);
  /* backdrop-filter: blur(10px); */
}

/* This css is used to set the background color of the active theme text and handle the background hover color */
.darkactive {
  background-color: var(--primaryYellow);
  color: white;
}
.darkactive:hover {
  background-color: var(--primaryYellow);
  color: white;
}
.lightactive {
  background-color: var(--primaryBlue);
  color: white;
}
.lightactive:hover {
  background-color: var(--primaryBlue);
  color: white;
}

@media screen and (max-width: 992px) {
  .links {
    display: none !important;
  }
  .menuico {
    display: block !important;
  }
}
