.herosection{
    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 600px;
    position: relative;
}

:root{
    --primaryBlue: #091059;
    --lightBlue: #bdc4fbb7;
    --primaryYellow: #FBB244;
    --lightYellow: #FEF0DC;
    --white: white;
    --black: black;
    --gray: #7F7F7F;
    --gray2: #cccccc;
    --transparent: rgba(255, 255, 255, 0);
}



.lighttext{
    color: var(--primaryYellow);
    /* color: var(--primaryBlue); */
    background-color: var(--lightYellow);
    background-color: var(--white);
    font-size: 12px;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 50px;
}
.maintext{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--primaryBlue);
    color: var(--primaryYellow);
}
.desctext{
    color: var(--gray2);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.4rem;
    font-weight: 500;
}

.bttns{
    padding: 12px 30px;
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    outline: none;
}

.headingtext .getstrtbtn{
    background-color: var(--primaryBlue);
    border: 1px solid var(--primaryBlue);
    margin-right: 14px;
    color: var(--white);
    transition: 0.2s;
    outline: none;
    background-color: var(--primaryYellow);
    border: 1px solid var(--primaryYellow);
}
 .getstrtbtn:hover{
    background-color: var(--transparent);
    color: var(--primaryBlue);
    color: var(--primaryYellow);
}

.headingtext .cntctbtn{
    background-color: var(--transparent);
    color: var(--primaryBlue);
    color: var(--primaryYellow);
    border: 1px solid var(--primaryBlue);
    border: 1px solid var(--primaryYellow);
    outline: none;
    transition: 0.2s;
}

.cntctbtn:hover{
    background-color: var(--primaryBlue);
    background-color: var(--primaryYellow);
    color: var(--white);
}



/* SECTION #2 */
/* .textsection{
    width: 41%;
} */
.section2{
    margin-bottom: 6rem;
}

.featurestxt{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.feature{
    padding-left: 50px;
    padding-right: 50px;
}
.imgsection{
    position: relative;
    display: inline;
}

.imgsection::before{
    content: "";
    position: absolute;
    top: -24px;
    left: -18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FED8A6;
}


/* SECTION #3 */
.section3{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* SECTION #4 */
.section4{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* SECTION #5 */
.section5{
    padding-top: 6rem;
    padding-bottom: 6rem;
}




@media screen and (max-width: 992px) {
    .hero{
        flex-direction: column;
    }
    .header{
        display: hidden;
    }
  }