.herosection{
    padding-top: 12rem;
    padding-bottom: 6rem;
    /* min-height: 600px; */
    position: relative;
    /* margin-top: 4rem; */
    /* padding-top: 2rem; */
}

:root{
    --primaryBlue: #091059;
    /* --primaryBlue2: #060b41; */
    --lightBlue: rgba(9, 16, 89, 0.304);
    --primaryYellow: #FBB244;
    /* --bodyDark: #171720; */
    --bodyDark: #141416;
    /* --bodyDark2: rgb(27, 27, 35); */
    --bodyDark2: #1b1b1d;
    --lightYellow: rgba(251, 178, 68, 0.4);
    --white: white;
    --black: black;
    --gray: #6d6d6d;
    --gray2: #cccccc;
    --transparent: rgba(255, 255, 255, 0);
}




.lighttext{
    color: var(--white);
    
    background-color: var(--lightYellow);
    /* background-color: rgba(9, 16, 89, 0.1); */
    /* background-color: var(--primaryYellow); */
    font-size: 12px;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 50px;
}

.lighttextDark{
    background-color: var(--lightYellow);
}
.lighttextLight{
    color: var(--primaryYellow);
    color: var(--primaryBlue);
}


.headings{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.headingsDark{
    color: var(--primaryYellow);
}
.headingsLight{
    color: var(--primaryBlue);
}

.desctext{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.4rem;
    font-weight: 500;
}
.descDark{
    color: var(--gray2);
}
.descLight{
    color: var(--gray);
}

.bttns{
    padding: 12px 30px;
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    border: none;
    font-weight: 500;
    outline: none;
}

.headingtext .getstrtbtn{
    margin-right: 14px;
    color: var(--white);
    transition: 0.2s;
    outline: none;
}

.getstrtbtn:hover{
    background-color: var(--transparent);
}

.btndark{
    background-color: var(--primaryYellow);
    color: var(--white);
    border: 1px solid var(--primaryYellow) !important;
}
.btndark:hover{
    color: var(--primaryYellow);
}

.btnlight{
    background-color: var(--primaryBlue);
    color: var(--white);
    border: 1px solid var(--primaryBlue) !important;
}
.btnlight:hover{
    color: var(--primaryBlue);
}


.headingtext .cntctbtn{
    background-color: var(--transparent);
    outline: none;
    transition: 0.2s;
}

.cntctbtn:hover{
    color: var(--white);
}

.btn2dark{
    color: var(--primaryYellow);
    border: 1px solid var(--primaryYellow) !important;
}
.btn2dark:hover{
    background-color: var(--primaryYellow) ;
}

.btn2light{
    background-color: var(--primaryBlue);
    color: var(--primaryBlue);
    border: 1px solid var(--primaryBlue) !important;
}
.btn2light:hover{
    background-color: var(--primaryBlue);
}



/* SECTION #2 */
/* .textsection{
    width: 41%;
} */
.section2{
    margin-bottom: 6rem;
}

.featurestxt{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.featureDark{
    color: white;
}
.featureLight{
    color: black;
}


.feature{
    padding-left: 50px;
    padding-right: 50px;
}
.imgsection{
    position: relative;
    display: inline;
}

.img{
    filter: invert();
    opacity: 100 !important;
}

.imgsection::before{
    content: "";
    position: absolute;
    top: -24px;
    left: -18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FED8A6;
}

.imgsectionBgDark::before{
    background-color: var(--primaryYellow);
}


/* SECTION #3 */
.section3{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

/* SECTION #4 */
.section4{
    padding-top: 6rem;
    padding-bottom: 6rem;
    
}


/* Original */
/* .section4Dark{
    background : 
    linear-gradient(180deg, #171720, rgba(255, 255, 255, 0) 20%),
    linear-gradient(320deg, rgba(255, 234, 159, 0.1),#171720 40%);
} */
/* .section4Dark{
    background : 
    linear-gradient(180deg, #141416, rgba(255, 255, 255, 0) 20%),
    linear-gradient(320deg, rgba(255, 234, 159, 0.1),#141416 40%);
} */
.section4Light{
    background : 
    linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0) 20%),
    linear-gradient(320deg, rgba(65, 81, 255, 0.15), #ffffff 40%);
}

/* SECTION #5 */
.section5{
    padding-top: 6rem;
    padding-bottom: 6rem;
}


/* Original */
/* .bgdark{
    background-color: var(--bodyDark2);
} */

.bgdark{
    background-color: #1b1b1d;
}




@media screen and (max-width: 992px) {
    .hero{
        flex-direction: column;
    }
    .header{
        display: hidden;
    }
  }