@import "react-alice-carousel/lib/alice-carousel.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryBlue: #091059;
    --lightBlue: rgba(9, 16, 89, 0.304);
    --bodyDark: #171720;
    --bodyDark2: rgb(27, 27, 35);
    --primaryYellow: #FBB244;
    --lightYellow: rgba(251, 178, 68, 0.2);
    --white: white;
    --black: black;
    --gray: #6d6d6d;
    --gray2: #cccccc;
    --transparent: rgba(255, 255, 255, 0);
}
.bgdark{
    background-color: var(--bodyDark2);
}
.sliderwrap{
    position: relative;
}

.testimonalnav{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: green; */
}

.testimonalnav .prev{
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    left: -50px;
    color: #7C7C7D;
    /* color: white; */
    transform: translateY(-50%);
    
}
.testimonalnav .next{
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    right: -25px;
    color: #7C7C7D;
    /* color: white; */
    transform: translateY(-50%);
}

.pagination{
    position: absolute;
    margin-bottom: 30px;
    bottom: -60px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.pagination button{
    background: none;
    border: none;
    display: inline-block;
    position: relative;
    width: 0px;
    margin: 8px;
}
.pagination button::before{
    width: 7px;
    height: 7px;
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: #7C7C7D;
}

.alice-carousel{
    gap: 10px;
}

.items{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.item{
    background: linear-gradient(320deg, rgb(232, 234, 255, 0.7), white, white);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
    transition: 0.3s;
    margin: 6px;
}
.item:hover{
    border: 1px solid #091059;
}

.itemDark{
    background: 
     linear-gradient(320deg,  rgba(255, 234, 159, 0.05),#171720 40%) !important;
     border: 1px solid rgb(54, 54, 54) !important;
}
.itemDark:hover{
    border: 1px solid var(--primaryYellow) !important;
}



.testimonalv2{
    padding: 44px;
    /* margin: 40px; */
    text-align: left;
}
.testimonalv2 p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.paraDark p{
    color: rgb(255, 255, 255, 0.7) !important;
}

.authorpic{
    flex: 0 0 40px;
    margin-right: 20px;
    /* display: flex; */
}
.authorpic img{
    border-radius: 50%;
    width: 40px;
}

.authorname h3{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
}

.authnameDark h3{
    color: white !important;
}

.authorname span{
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.9rem;
    font-weight: 500;
}
.authnameDark span{
    color: rgb(255, 255, 255, 0.5) !important;
}

