*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryBlue: #091059;
    /* --primaryBlue2: #060b41; */
    --lightBlue: rgba(9, 16, 89, 0.304);
    --primaryYellow: #FBB244;
    /* --bodyDark: #171720;
    --bodyDark2: rgb(27, 27, 35); */
    --bodyDark: #141416;
  --bodyDark2: #1b1b1d;
    --textDark: #171720;
    --bodyDark3: rgb(30, 30, 36);
    --lightYellow: rgba(251, 178, 68, 0.4);
    --white: white;
    --black: black;
    --gray: #6d6d6d;
    --gray2: #cccccc;
    --transparent: rgba(255, 255, 255, 0);
}

.providerName p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: var(--gray2);
    font-weight: 600;
    margin-top: 1rem;
}


.mainNewsComponent{
    /* background-color: red; */
    display: flex;
    /* align-items: center; */
    /* height: 160px; */
    /* margin-bottom: 1rem; */
    padding: 12px;
    max-width: 600px;
    border-radius: 5px;
    margin: 20px 0px;

}

/* .mainNewsComponent .imgSection{
    max-width: 160px !important;
} */

.mainNewsComponent img{
    width: 160px;
    border-radius: 3px;
    /* object-fit: cover; */
    height: 90px;
    align-self: flex-start;
}



.mainNewsComponent:hover{
    background-color: #1f1f2c;
}

.mainNewsComponent .newsDescription{
    /* align-self: flex-start; */
    margin-left: 1rem;
}
.mainNewsComponent .newsDescription h3{
    font-size: 1rem;
    font-weight: 700;
    width: 320px;
}
.mainNewsComponent .newsDescription p{
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    /* margin-top: 1rem; */
    color: rgb(174, 174, 174);
}

