*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryBlue: #091059;
    /* --primaryBlue2: #060b41; */
    --lightBlue: rgba(9, 16, 89, 0.304);
    --primaryYellow: #FBB244;
    --bodyDark: #171720;
    --textDark: #171720;
    --bodyDark2: rgb(27, 27, 35);
    --bodyDark3: rgb(30, 30, 36);
    --lightYellow: rgba(251, 178, 68, 0.4);
    --white: white;
    --black: black;
    --gray: #6d6d6d;
    --gray2: #cccccc;
    --transparent: rgba(255, 255, 255, 0);
}

.providerName p{
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: var(--gray2);
    font-weight: 600;
    margin-top: 1rem;
}


.mainNewsComponent{
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* height: 160px; */
    margin-bottom: 1rem;

}

.mainNewsComponent img{
    /* align-self: flex-start; */
    width: 150px;
    border-radius: 5px;
}

.mainNewsComponent{
    padding: 8px;
    max-width: 600px;
    border-radius: 5px;
}

.mainNewsComponent:hover{
    background-color: rgb(37, 37, 41);
}

.mainNewsComponent .newsDescription{
    /* align-self: flex-start; */
    margin-left: 1rem;
}
.mainNewsComponent .newsDescription h3{
    font-size: 1rem;
    font-weight: 700;
    width: 300px;
}
.mainNewsComponent .newsDescription p{
    font-size: 13px;
    font-weight: 600;
}



.contentAreaHeading h2{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    margin-top: 8rem;
    font-stretch: condensed;
}
.contentAreaHeading p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: var(--gray2);
    font-weight: 500;
}

.news {
    align-self: center;
    margin-top: 4rem;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news img{
    width: 320px;
}
.news p{
    text-align: center;
    font-size: 14px;
    color: var(--gray2);
    font-weight: 500;
}
.news button{
    padding: 6px 12px;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: var(--primaryYellow);
    color: var(--textDark);
    border-radius: 5px;
    border: 1px solid var(--primaryYellow);
}

